So you have <%= hair%> hair? Cool! What colour are your eyes?
<form method = "post" action = "/eyecolor">
<input type= "hidden" name = "user_name" value= <%= name%>>
<input type= "hidden" name = "user_age" value= <%= age%>>
<input type= "hidden" name = "hair_colour" value= <%= hair%>>
<input type= "hidden" name = "last_name" value= <%= last%>>
<input type = "text" name = "eye_colour">
<input type = "submit">
</form>
