What is your hair colour, <%= name%> <%= last%> who is <%= age%>?
<form method = "post" action = "/haircolor">
<input type= "hidden" name = "user_name" value= <%= name%>>
<input type= "hidden" name = "user_age" value= <%= age%>>
<input type= "hidden" name = "last_name" value= <%= last>>
<input type = "text" name = "hair_colour">
<input type = "submit">
</form>
